<footer class="site-footer">
 <div>
  email: <a class="email" href="mailto:sono.shah@email.ucr.edu">sono.shah@email.ucr.edu</a>
</div>
<div>
      url: <a class="url" href="http://www.sonoshah.com"> http://www.sonoshah.com
</a>
</div>
<div><a href="http://scholar.google.com/citations?user=pVrOSRsAAAAJ">google scholar profile</a>
</div>
<div>
github: <a class="url" href="https://github.com/sonoshah">sonoshah</a>
</div>
<div>
twitter: <a href="http://www.twitter.com/imsonoshah/">@imsonoshah</a>
</div>
</footer>
